:root {
    --colors-dark-blue-gray: #666ca3;
    --colors-yankees-blue: #13183f;
    --colors-silver: #83869a;
    --colors-pink: #f74780;
    --colors-carnation-pink: #ffa7c3;
    --colors-white: #ffffff;
    --colors-g-magenta-orange: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    --colors-g-magenta-blue: linear-gradient(
    180deg,
    #4851ff -54.32%,
    #f02aa6 100%
  );
    --colors-g-hover: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
    --fonts-main: "Plus Jakarta Sans", sans-serif;
}


*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 80px;
}

nav .btn{
    margin-right: 150px;
}

.btn{
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(23, 23, 23);
    color: #fff;
    border-radius: 20px;
}

.logo-img{
    width: 80px;
}

main{
    position: absolute;
    top: -20%;
    overflow: hidden;
}

.sec-1{
    display: flex;
}

.sec-1__left-side{
    margin-left: 80px;
    margin-top: 300px;
}

.sec-1__right-side .banner-img{
    width: 100%;
    margin-left: 200px;
}

.sec-1__left-side h1 {
    font-size: 45px;
}

.sec-1__left-side p {
    line-height: 1.2;
    width: 325px;
    margin: 20px 0px;
    color: var(--colors-silver);
}

.sec-1__left-side .btn {
    background-image: var(--colors-g-magenta-orange);
}

.sec-2{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-left: 80px;
}

.card{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 20px 20px 0px 20px;
    box-shadow: 10px 10px 10px 10px #b9b3b3;
}

.card h3{
    margin-top: 30px;
}

.card img{
    width: 40px;
    position: absolute;
    top: -20px;
}

.card p{
    width: 200px;
    margin: 20px 0px;
    color: var(--colors-silver);
}

.card a{
    color: var(--colors-pink);
    font-size: 16px;
    font-weight: bold;
}